body{
 
    padding: 0;
    box-sizing: border-box;
}
#root{
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first{
    background-color: white;
    height: 200px;
    width: 300px;
    text-align: center;
}
button{
    height: 80px;
    font-size: 20px;

    background-color: orange;
}
