

*{
  margin: 0%;
}
.circle{
    margin-left: 40vh;


      margin-top: 20vh;

    border-radius: 50%;
    width: 60vh;
    height: 60vh;
    background-color: red;

/* How to center a div */

/* Agar mein hur chej ko vw kw term pe likhu, kya mein japan ka flag bana sakta hu */

/* Homework, finland flag */
/* Ireland flag */
}