/* *{
    background-color: rgb(194, 129, 30);
} */

body{
    background-color: rgb(43, 137, 156);
}

.card{
    background-color: rgb(38, 165, 127);
    border: 10px solid black ;
    padding: 20px;
    margin: 20px;
    width: 350px;
    height: 150px;
    margin-top: 25px;
    text-align: center;
    margin-left: 37%;
   
}
.card:hover{
    transform: scale(1.2);
    
}
h1{
   
    color: blue;
}
h3{
    color: rgb(255, 247, 0);
}