*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100wh;
    height: 100vh;
}
.container{
    height: 1000px;
    width: 1000px;
    padding: 5rem  ;
    background-color: rgba(1, 0, 0, 0.736);
    display: grid;
    grid-template-columns: repeat(8,100px);
    /* grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px  ;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px ;
    */
    grid-template-rows: repeat((8,100px));

}
.white{
    /* width: 100px;
    height: 100px; */
    background-color: white;


}
.black{
    /* width: 100px;
    height: 100px; */
    background-color:black;
}